@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.contrast-point {
  color: #fa5c65;
}

.move-arrow {
  color: #fa5c65;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}
.move-arrow:focus {
  background: #fa5c65;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}
.move-arrow:hover ~ img, .move-arrow:focus ~ img {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
  -webkit-transition: .5s;
  transition: .5s;
}

.container {
  -webkit-transition: .5s;
  transition: .5s;
}
@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 100px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 0 50px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 15px;
  }
}

.header-container {
  background-image: url(../img/header/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
  max-height: 970px;
}
@media screen and (min-width: 992px) {
  .header-container {
    min-height: 850px;
  }
}
@media screen and (max-width: 540px) {
  .header-container {
    background-size: contain;
  }
}

.header-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-row-1 .logo-link {
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  height: auto;
}
.header-row-1 .logo-link:hover, .header-row-1 .logo-link:focus {
  border-bottom: 2px solid #fa5c65;
  padding-bottom: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}
.header-row-1 .logo-link .logo {
  width: 100%;
  height: auto;
}

.header-nav .switch {
  background-color: #fa5c65;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat';
  padding: 10px 50px;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}
.header-nav .switch:active, .header-nav .switch:hover, .header-nav .switch:focus {
  background-color: #fff;
  color: #fa5c65;
  -webkit-transition: .5s;
  transition: .5s;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
.header-nav ul span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav ul a {
  color: #314a5b;
  font-weight: 600;
  font-size: 14px;
  margin: 0 15px;
  -webkit-transition: .3s;
  transition: .3s;
  outline-color: #fa5c65;
}
.header-nav ul a:hover, .header-nav ul a:focus {
  color: #fa5c65;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-switch:checked ~ nav ul {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 10px auto 0 auto;
}

.header-row-2 {
  display: block;
  margin: 100px auto 40px auto;
}
.header-row-2 h1 {
  color: #314a5b;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  max-width: 510px;
  -webkit-transition: .5s;
  transition: .5s;
}
.header-row-2 h2 {
  color: #314a5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 25px 0 65px 0;
  -webkit-transition: .5s;
  transition: .5s;
}
.header-row-2 a {
  background: #fa5c65;
  border-radius: 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 25px 40px;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}
.header-row-2 a:hover, .header-row-2 a:focus {
  background: #fff;
  color: #fa5c65;
  -webkit-transition: .4s;
  transition: .4s;
}

@media screen and (max-width: 992px) {
  .header-row-1 .logo-box {
    margin: 0 auto 20px auto;
  }
  .header-row-1 .main-nav {
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  .header-row-1 {
    display: block;
  }
  .header-row-1 .logo-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header-row-1 .logo-box img {
    max-height: 60px;
    max-width: 100px;
  }
  .header-row-1 .switch {
    visibility: visible;
  }
  .header-row-1 nav {
    text-align: center;
  }
  .header-row-1 nav span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-row-1 nav span li {
    margin: 0 5px;
  }
  .header-row-1 .header-nav ul {
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
  }
  .header-row-1 .header-nav ul li {
    margin: 7px 0;
  }
}

.header-row-2 {
  -webkit-transition: .7s;
  transition: .7s;
}
@media screen and (min-width: 1100px) {
  .header-row-2 {
    margin: 250px auto 40px auto;
    -webkit-transition: .7s;
    transition: .7s;
  }
}
@media screen and (max-width: 992px) {
  .header-row-2 h1 {
    font-size: 30px;
  }
  .header-row-2 h2 {
    font-size: 15px;
  }
  .header-row-2 a {
    padding: 15px 20px;
  }
}
@media screen and (max-width: 768px) {
  .header-row-2 {
    margin: 150px auto 20px auto;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 540px) {
  .header-row-2 {
    margin: 20px auto;
  }
}

.our-advantages {
  padding: 90px 0 0 0;
}
@media screen and (max-width: 768px) {
  .our-advantages .advantage-1, .our-advantages .advantage-2 {
    min-width: 50%;
  }
  .our-advantages .advantage-3 {
    min-width: 60%;
    margin: 20px  auto 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .our-advantages .advantage {
    min-width: 100%;
  }
}

.advantage h3 {
  color: #314a5b;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
}
.advantage p {
  color: #9aa0ab;
  font-family: 'Open Sans';
  font-size: 15px;
  margin: 25px 0;
}
.advantage img {
  -webkit-transition: .5s;
  transition: .5s;
}
@media screen and (max-width: 992px) {
  .advantage h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .advantage {
    margin: 30px auto;
  }
}

.portfolio {
  margin: 100px auto 0 auto;
}
.portfolio .macbook {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.portfolio-info {
  -webkit-transition: .5s;
  transition: .5s;
}
.portfolio-info h2 {
  color: #314a5b;
  font-family: 'Montserrat';
  font-size: 40px;
}
.portfolio-info h3 {
  color: #314a5b;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.portfolio-info p {
  color: #9aa0ab;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: 30px 0 40px 0;
}
.portfolio-info .arrow {
  -webkit-transition: .5s;
  transition: .5s;
}
@media screen and (max-width: 992px) {
  .portfolio-info h2 {
    font-size: 25px;
  }
  .portfolio-info h3 {
    font-size: 14px;
  }
  .portfolio-info p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .mac {
    visibility: hidden;
  }

  .portfolio-info {
    min-width: 100%;
  }
}
.our-team {
  margin-top: 100px;
}

.our-team-title h2 {
  color: #314a5b;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  -webkit-transition: .5s;
  transition: .5s;
}
.our-team-title h3 {
  color: #9aa0ab;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
}

.all-member {
  margin-top: 45px;
}
.all-member img {
  -webkit-transition: .5s;
  transition: .5s;
}
.all-member .team-more-link {
  margin-top: 60px;
  text-align: right;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
}
.member .col {
  padding: 0 5px;
}
.member img {
  height: auto;
  max-width: 120px;
  width: 100%;
}
.member h3 {
  color: #314a5b;
  font-family: 'Montserrat';
  font-size: 22px;
  margin-bottom: 5px;
}
.member h4 {
  color: #fa5c65;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}
.member p {
  color: #9aa0ab;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .our-team-title h2 {
    font-size: 25px;
  }
  .our-team-title h3 {
    font-size: 14px;
  }

  .member img {
    max-width: 90px;
  }
  .member h3 {
    font-size: 18px;
  }
  .member p {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .member img {
    max-width: 80px;
  }

  .member-1, member-2 {
    min-width: 50%;
  }
  .member-1 p, member-2 p {
    min-width: 100%;
  }

  .member-3 {
    margin: 20px  auto 0 auto;
    min-width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .member {
    min-width: 100%;
    margin: 20px auto;
  }
}
.footer {
  border-top: 1px solid #9aa0ab;
  height: 90px;
  margin-top: 60px;
}

.footer-row {
  color: #9aa0ab;
  font-family: 'Open Sans', sans-serif;
  padding: 30px 0 30px 0;
}
.footer-row ul {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-row ul a {
  margin: 0 10px;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}
.footer-row ul a:hover, .footer-row ul a:focus {
  border-bottom: 4px solid #fa5c65;
  -webkit-transition: .2s;
  transition: .2s;
}
.footer-row h4 {
  font-weight: 400;
}
