@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.header-container {
  background-image: url(../img/header/header-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 1057px;
}

.header-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
.header-nav ul a {
  color: #314a5b;
  font-weight: 600;
  font-size: 14px;
  margin: 0 15px;
  -webkit-transition: .3s;
  transition: .3s;
  outline-color: #fa5c65;
}
.header-nav ul a:hover, .header-nav ul a:focus {
  color: #fa5c65;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-row-2 {
  display: block;
  margin-top: 300px;
}
.header-row-2 h1 {
  color: #314a5b;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  max-width: 510px;
}
.header-row-2 h2 {
  color: #314a5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 25px 0 65px 0;
}
.header-row-2 a {
  background: #fa5c65;
  border-radius: 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 25px 40px;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}
.header-row-2 a:hover, .header-row-2 a:focus {
  background: #fff;
  color: #fa5c65;
  -webkit-transition: .4s;
  transition: .4s;
}
