// import
@import 'colors';
@import 'fonts';

// common styles
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

}

.contrast-point {
    color: $contrast-color;
}

.move-arrow {
    color: $contrast-color;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 5px;
    transition: .3s;
    
        &:focus {
            background: $contrast-color;
            color: $white;
            transition: .3s;
        }
        
        &:hover ~ img,
        &:focus ~ img {
            transform: translate(10px, 0);
            transition: .5s;
        }
}// /move-arrov

.header-container {
    background-image: url(../img/header/header-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 1057px;
//    @media screen and (min-width: 600px) {
//        min-height: 1057px; 
//    }
}




// beginning of header-row-1
.header-row-1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.header-nav {
    ul {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        
        
        a {
            color: $headline-color;
            font-weight: 600;
            font-size: 14px;
            margin: 0 15px;
            transition: .3s;
            outline-color: $contrast-color;
            
            &:hover,
            &:focus {
                color: $contrast-color;
                transition: .3s;
            }
        }
        
    }
}

//  end of header-row-1


// beginning of header-row-2

.header-row-2 {
    display: block;
    margin-top: 300px;
    
    
    h1 {
        color: $headline-color;
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        max-width: 510px;
    }
    
    h2 {
        color: $headline-color;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin: 25px 0 65px 0;
        
    }
    
    a {
        background: $contrast-color;
        border-radius: 10px;
        color: $white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        padding: 25px 40px;
        transition: .4s;
        outline: none;
        
        &:hover,
        &:focus {
            background: $white;
            color: $contrast-color;
            transition: .4s;
        }
        
    }
}
// end of header-row-2

// end of header


// beginning of main

.our-advantages {
    padding: 90px 0 0 0;
}

.advantage {
    
    h3 {
        color: $headline-color;
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        line-height: 25px;
    }
    
    p {
        color: $text-color;
        font-family: 'Open Sans';
        font-size: 15px;   
        margin: 25px 0;
    }
    
    img {
        transition: .5s;
    }
    
    
}

// end of our-advanges



// beginning of portfolio


.portfolio {
    margin: 100px auto 0 auto;
    
    .macbook {
        width: 100%;
        height: auto;
        max-width: 350px;
    }
    
}

.portfolio-info {
    
    h2 {
        color: $headline-color;
        font-family: 'Montserrat';
        font-size: 40px;  
    }
    
    h3 {
        color: $headline-color;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
//        margin: 0 0 30px 0;
    }
    
    p {
        color: $text-color;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        margin: 30px 0 40px 0;
            
    }
    
    a {
        transition: .2s;
    }
    
}














